.sendbutton {
    background: linear-gradient(180deg, rgb(212, 156, 82) 0%, rgb(107, 79, 68) 50%, rgb(122, 105, 115) 100%);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5%;
    margin-left: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
   
.sendbutton:hover {
    filter: invert();
}

.sendbutton:active {
    border: 2px solid #e6260d;
    color: #000000;
}
