.enlace {
    max-width: 70px;
    color: #FFFFFF;
    margin-top: -175px;
}

.link {
    color: #FFFFFF;
    width: 100px;
    height: 100px;
    margin-left: 80px;
    margin-top: -175px;
    text-decoration: none;
    font-size: 40px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.link:hover {
    font-size: 4em;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.link:active {
    color: rgb(235, 139, 14);
    transition-duration: 0s;
}

.link-icon {
    font-size: 75px;
    margin-left: 100px;
    margin-top: 0;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.link-icon:hover {
    font-size: 120px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.link-icon:active {
    color: rgb(235, 139, 14);
    transition-duration: 0.1s;
    transition-timing-function: linear;
}